html
    head
        title Asher
        style.
            @import "https://fonts.googleapis.com/css?family=Noto+Sans";
            body {
                padding: 0;
                margin: 0;
                background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
                background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
                background-repeat: no-repeat;
                background-attachment: fixed;
            }
            .chatZone {
                overflow-x: hidden;
                overflow-y: scroll;
                width: 100%;
                height: 80%;
                margin-top: 5%;
            }
            .chatZone li {
                position: relative;
                clear: both;
                display: inline-block;
                padding: 16px 40px 16px 20px;
                margin 0 0 20px 0;
                font: 16px/20px 'Noto Sans', sans-serif;
                border-radius: 10px;
                background-color: rgba(25, 147, 147, 0.2);
            }
            .chatZone li:nth-child(odd) {
                float: right;
                margin-right: 80px;
                color: #0AD5C1;
            }
            .chatZone li:nth-child(even) {
                float: left;
                margin-left: 80px;
                color: #0EC879;
            }
            .messageBox {
                width: 100%;
                height: 10%;
                color: red;
                bottom: 0;
            }
            ul {
                margin-bottom: 0px;
            }
            input {
                width: 100%;
                height: 100%;
                font-size: 1.2em;
                outline: none;
                border: none;
                border-bottom: 1px solid rgba(25, 147, 147, 0.2);
                background-color: rgba(25, 147, 147, 0.2);
                color: #0AD5C1;
            }
    body
        ul.chatZone
            li Message 1
            li Message 2
            li Message 1
            li Message 2
            li Message 1
            li Message 2
            li Message 1
            li Message 2
            li Message 1
            li Message 2
            li Message 1
            li Message 2
            li Message 1
            li Message 2
            li Message 1
            li Message 2
            li Message 1
            li Message 2
            li Message 1
            li Message 2
            li Message 1
            li Message 2
            li Message 1
            li Message 2
            li Message 1
            li Message 2
            li Message 1
            li Message 2
            li Message 1
            li Message 2
            li Message 1
            li Message 2
            li Message 1
            li Message 2
            li Message 1
            li Message 2
            li Message 1
            li Message 2
            li Message 1
            li Message 2
            li Message 1
            li Message 2
            li Message 1
            li Message 2
            li Message 1
            li Message 2
            li Message 1
            li Message 2
            li Message 1
            li Message 2
        .messageBox
            form(action="")
                input#message(type="text", name="message")