doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    //link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
    link(rel='stylesheet', href='/css/normal.css')
    link(rel='stylesheet', href='/css/style.css')
    title Asher
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='mobile-web-app-capable', content='yes')
    meta#browser-color(name='theme-color', content='#ffffff')
    script(type='text/javascript', src='./js/jquery-3.3.1.min.js')
  body(style='background-color: #efdbcb;')
    .header
      img.header__image(src='/img/header.png', stlye='position: fixed;')
    #message_holder
      .message.message--user1
        .message__user
        .message__speechbubble
          | WOWOW
      .message.message--user2
        .message__user
        .message__speechbubble
          | WOWOW
    footer
      center
        input#message_box.message_box(placeholder='Message here...')
    script(type='text/javascript').
      $('#message_box').bind("enterKey",function(e){
      addFemaleMessage(document.getElementById('message_box').value)
      });
      $('#message_box').keyup(function(e){
      if(e.keyCode == 13)
      {
      $(this).trigger("enterKey");
      }
      });
      addMaleMessage = function(message) {
      var _holder = document.getElementById("message_holder");
      var _div1 = document.createElement("div");
      var _div2 = document.createElement("div");
      var _div3 = document.createElement("div");
      var _msg = document.createTextNode(message);
      _div1.className += "message message--user1"
      _div2.className += "message__user"
      _div3.className += "message__speechbubble"
      _holder.appendChild(_div1);
      _div1.appendChild(_div2)
      _div1.appendChild(_div3)
      _div3.appendChild(_msg)
      }
      addFemaleMessage = function(message) {
      var _holder = document.getElementById("message_holder");
      var _div1 = document.createElement("div");
      var _div2 = document.createElement("div");
      var _div3 = document.createElement("div");
      var _msg = document.createTextNode(message);
      _div1.className += "message message--user2"
      _div2.className += "message__user"
      _div3.className += "message__speechbubble"
      _holder.appendChild(_div1);
      _div1.appendChild(_div2)
      _div1.appendChild(_div3)
      _div3.appendChild(_msg)
      $('html, body').animate({
      scrollTop: $(_div1).offset().top
      }, 2000);
      }
