doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/css/normal.css')
    link(rel='stylesheet', href='/css/style.css')
    title Asher
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='mobile-web-app-capable', content='yes')
    meta#browser-color(name='theme-color', content='#ffffff')
    script(type='text/javascript', src='/js/jquery-3.3.1.min.js')
    script(type='text/javascript', src='/js/socket.io.js')
    script(type='text/javascript', src='/js/app.js')
  body(style='background-color: #efdbcb;')
    .header
      img.header__image(src='/img/header.png', stlye='position: fixed;')
    #message_holder
      .message.message--user1
        .message__user
        .message__speechbubble
          | How can I help you?
    footer
      center
        input#message_box.message_box(placeholder='Message here...')
