<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Daily UI #013 - Direct Messaging</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div id="container">
    <!-- ends #top -->

    <div id="messages">

      <div class="receiver">
        <div class="avatar liz"></div>

        <div class="message">
          <div class="blob">
            <span class="blob-content">
              <p>Did you guys watch Lemonade? 🍋</p>
              <!-- <span class="blob-connector"></span> -->
            </span>
          </div>
        </div>

      </div>
      <!-- ends received message -->

      <div class="sender">
        <div class="message">
          <div class="blob">
            <span class="blob-content">
              <p>I don't need to watch a TV programme to learn how to make lemonade.</p>
              <span class="blob-connector"></span>
            </span>
          </div>
          <div class="blob">
            <span class="blob-content">
              <p>It is literally lemon juice and water.</p>
            </span>
          </div>
        </div>
      </div>
      <!-- ends sent message -->

      <div class="receiver">
        <div class="avatar dean"></div>

        <div class="message">
          <div class="blob">
            <span class="blob-content">
              <p>Beyoncé is god.</p>
              <span class="blob-connector"></span>
            </span>
          </div>
          <div class="blob">
            <span class="blob-content">
              <p>I wept. I'm not ashamed of that.</p>
            </span>
          </div>
        </div>
      </div>
      <!-- ends received message -->

      <div class="receiver">
        <div class="avatar sanchez"></div>

        <div class="message">
          <div class="blob">
            <span class="blob-content">
              <p>Calm the heck down, Rick.</p>
              <span class="blob-connector"></span>
            </span>
          </div>
          <div class="blob">
            <span class="blob-content">
              <p>Come on Liz, let's chat about Kim K.'s Miami Snapchats.</p>
            </span>
          </div>
        </div>
      </div>
      <!-- ends received message -->

      <div class="sender">
        <div class="message">
          <div class="blob">
            <span class="blob-content">
              <p>🙄</p>
            </span>
          </div>
        </div>
      </div>
      <!-- ends sent message -->

    </div>
    <!-- ends #messages -->

    <div id="text-input">

      <div class="new">
        <div contenteditable="true" class="input"></div>
      </div><button class="send">Send</button>

    </div>
    <!-- ends #text-input -->

  </div>
  <!-- ends #container -->

  <script src="js/index.js"></script>

</body>

</html>