// colors
$blue: #4568ff;
$lightblue: #92aef7;
$lightestblue: #dee8f4;
$pink: #ffcbcb;
$darkgrey: #696565;
$lightgrey: #f8f8f8;
$white: #fff;

$receiver-text-color: $white;
$receiver-bg-color: #add3f7;

$sender-text-color: $white;
$sender-bg-color: #f6c4c4;

// resets
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none;
  appearance: none;
  background-color: transparent;
}

body {
  color: $darkgrey;
  font-size: 1em;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: $lightestblue;
}

#container {
  width: 375px;
  height: 600px;
  margin: 50px auto;
  position: relative;
  background-color: $lightgrey;
}

#top {
  border: 0;
  border-bottom-width: 4px;
  border-image: linear-gradient(to right, $pink, $lightblue);
  border-image-slice: 1;
  padding: 20px 10px 10px 10px;
  background-color: $white;
  position: relative;
  text-align: center;
  
  a.back {
    position: absolute;
    left: 15px;
    bottom: calc(50% - .7em);
    
    font-size: 1.8em;
    line-height: 1em;
    color: $lightblue;
    text-decoration: none;
  }
  
  .chat-icon {
    width: 50px;
    height: 50px;
    right: 10px;
    bottom: 5px;
    position: absolute;
    border-radius: 60px;
    background-color: $lightestblue;
    background-image: url('https://i.imgur.com/YFMRIyJ.png');
    background-size: 150%;
    background-position: left center;
  }
  
  h3 {
    font-size: 1.1em;
    margin-bottom: 2px;
  }
  
  p {
    font-size: 0.85em;
    color: lighten($darkgrey, 12);
  }
}

#messages {
  padding: 10px;
}

.avatar {
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
  border-radius: 50px;
  background-color: $lightestblue;
  background-size: 200%;
  background-image: url('http://i.imgur.com/uEcpKAG.png');
}

.liz     { background-position: bottom right; }
.sanchez { background-position: bottom left;  }
.dean    { background-position: top right;    }

.message {
  width: 80%;
}

.avatar,
.message {
  display: inline-block;
  vertical-align: bottom;
}


// Blob connectors originally made by
// @getreworked - https://codepen.io/getreworked
.blob {
  width: 100%;
}

.blob-content {
  margin-bottom: 10px;
  padding: 7px 12px 8px 12px;
  display: inline-block;
  position: relative;
  border-radius: 1rem;
}

.blob-connector {
  bottom: -10px;
  width: 40px;
  height: 10px;
  position: absolute;
  overflow: hidden;
  
  &:before,
  &:after {
    content: '';
    width: 10px;
    height: 10px;
    top: 0;
    position: absolute;
    background: transparent;
  }
  
  &:before {
    left: 0;
    border-radius: 0 50em 50em 0;
  }
  
  &:after {
    right: 0;
    border-radius: 50em 0 0 50em;
  }
}

.receiver .blob-content,
.sender   .blob-content {
  width: auto;
  max-width: 90%;
}

.receiver {
  .blob-content {
    color: $receiver-text-color;
    background-color: $receiver-bg-color;
  }
  
  .blob-connector {
    left: calc(30% - 20px); // 20px = half of connector width
    
    &:before,
    &:after {
      box-shadow: 0 0 0 16px $receiver-bg-color;
    }
  }
}

.sender {
  text-align: right;
  
  .blob-content {
    text-align: left;
    color: $sender-text-color;
    background-color: $sender-bg-color;
  }
  
  .blob-connector {
    right: calc(30% - 20px); // 20px = half of connector width
    
    &:before,
    &:after {
      box-shadow: 0 0 0 16px $sender-bg-color;
    }
  }
}

#text-input {
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin: 0;
  bottom: 0;
  position: absolute;
  background-color: darken($lightgrey, 2);
  
  .new, .send {
    display: inline-block;
    vertical-align: middle;
  }
  
  .new {
    width: 83%;
  }
  
  .send {
    width: 14%;
    margin-left: 10px;
    padding: 5px 0;
    cursor: pointer;
    
    font-size: 1em;
    text-align: center;
    color: lighten($blue, 10);
  }
  
  .input {
    padding: 5px 10px;
    line-height: 1.2em;
    font-size: 1em;
    color: $darkgrey;
    border: 1px solid lighten($darkgrey, 42);
    border-radius: 5px;
    background-color: rgba($white, .2);
    
    &:focus {
      border: 1px solid lighten($blue, 10);
      background-color: rgba($white, .5);
    }
  }
}